      body {
            font-family: Arial, sans-serif;
            padding: 40px;
            background: #f0f0f0;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px; 
            flex-wrap: wrap; 
        }
        .titol {
            color: #333;
            text-align: center;
        }
        .standarttext{
            text-align:center;
          
        }
        .input-container {
            display: flex;
            justify-items: center;
            align-items: center;     
            gap: 10px;               
        }
        input[type="text"] {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 8px;
            width: 80px;
            height: 5px;
            align-items: center;
        }
        .boto {
            background: green;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .boto:hover {
            background: #0056b3;
        }
        
        .boto-borrar:hover {
            background-color: #c82333;
        }
       
        .wordgame {
            width: 100%;               
            background-color: #4CAF50; 
            color: white;              
            text-align: center;        
            padding: 20px 0;           
            margin: 20px 0;            
            box-sizing: border-box;    
            font-size: 32px;          
            font-weight: bold;
            letter-spacing: 25px;
        }
        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            gap: 20px;
            margin-top: 20px;
        }
       .word-display {
            font-size: 32px;
            letter-spacing: 20px;  /* espacio entre guiones */
            text-align: center;
            margin-top: 20px;
        }

        .left-container {
            display: flex;
            flex-direction: column; 
            gap: 5px;              
            flex: 1;                 
            max-width: 300px;        
            background-color: #f9f9f9; 
            padding: 15px;          
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);                 
        }
         .left-container p {
            font-weight: bold;
            text-align: center;
            margin: 0;             
            line-height: 1.5;      
            padding: 2px 0;  
        }

        .keyboard-container {
            display: flex;
            flex-wrap: wrap;        
            gap: 5px;
            margin-top: 20px;
            justify-content: center;
        }

        .keyboard-container button {
            width: 50px;
            height: 50px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            background-color: #f0f0f0;
        }

        .keyboard-container button:hover {
            background-color: #dcdcdc;
        }

        .firefoxbackground {
            background-color: #FF7139;
        }
        .chromebackground {
            background-color: #4285F4;
        }
         .edgebackground {
            background-color: #0078D7;
        }